.city-item {
    width: 284px;
    min-height: 330px;
    border-radius: 5px;
    box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.5) inset;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.city-item_novorossiysk {
    background-image: url('../../__container/_item-addictional/Novorossisk.png');
}

.city-item_shikhan {
    background-image: url('../../__container/_item-addictional/shikhan.png');
}

.city-item_cherepovets {
    background-image: url('../../__container/_item-addictional/cherepovets.png');
}

.city-item_lenivets {
    background-image: url('../../__container/_item-addictional/nikola.png');
}

.city-item__title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    padding: 30px 18px;
    font-size: 27px;
    line-height: 29px;
    color: #fff;
}

.city-item__subtitle {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    padding: 30px 18px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
