@import url('./title/title.css');
@import url('./subtitle/subtitle.css');
@import url('./image/image.css');
@import url('./caption/caption.css');

.lead {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 46px;
    align-self: center;
}

@media (min-width: 756px) and (max-width: 1024px) {

    .lead {
        width: 100%;
    }

}

@media (min-width: 425px) and (max-width: 767px)  {

    .lead {
        width: 100%;
    }

}

@media (max-width: 424px) {
    
    .lead {
        width: 100%;
    }
}
