@import url('../intro/__title/title.css');
@import url('../intro/__subtitle/subtitle.css');
@import url('../intro/__content-row/content-row.css');
@import url('../intro/__text/intro-text.css');

.intro {
    display: flex;
    flex-direction: column;

    margin-top: 100px;
    align-self: center;
    width: 80%;
    
}

@media (min-width: 768px) and (max-width: 1024px) {

    .intro {
        width: 90%;
    }

}

@media (min-width: 425px) and (max-width: 767px)  {

    .intro {
        margin-top: 64px; 
        width: 90%;
    }

}

@media (max-width: 424px) {

    .intro {
        margin-top: 64px; 
        width: 90%;
    }

}