@import url('../emblem/title/title.css');
@import url('../emblem/container/container.css');

.emblem {
    margin-top: 82px;
    width: 1184px;
    align-self: center;

    display: flex;
    flex-direction: column;
}