@import url('./links/links.css');

.footer {
    margin-top: 160px;
    width: 90%;
    align-self: center;
    padding: 48px;
    padding-top: 0px;
    overflow-x: hidden;

    display: flex;
    flex-direction: row;
}

@media (min-width: 425px) and (max-width: 767px) {

    .footer {
        display: block;
        padding: 0px;
        margin-top: 64px;
    }

}

@media (max-width: 424px) {

    .footer {
        display: block;
        padding: 0px;
        margin-top: 64px;
    }

}